<?php
$CONFIG = array (
  'dbtype' => 'pgsql',
  'dbname' => '{{ postgres.nextcloud.db_name }}',
  'dbuser' => '{{ postgres.nextcloud.db_user }}',
  'dbpassword' => '{{ postgres.nextcloud.db_password }}',
);
