<?php
$CONFIG = array (
  'mail_from_address' => 'nextcloud',
  'mail_smtpmode' => 'smtp',
  'mail_smtpsecure' => 'ssl',
  'mail_sendmailmode' => 'smtp',
  'mail_domain' => '{{ pi.domain }}',
  'mail_smtpauthtype' => 'PLAIN',
  'mail_smtpauth' => 1,
  'mail_smtphost' => '{{ email.smtp_host }}',
  'mail_smtpport' => '465',
  'mail_smtpname' => '{{ email.smtp_name }}',
  'mail_smtppassword' => '{{ email.smtp_password }}',
);
