---
# private variables
ssl:
  email: CHANGE_ME
postgres:
  nextcloud:
    db_user: CHANGE_ME
    db_password: CHANGE_ME
    db_name: CHANGE_ME
  postgres_user_password: CHANGE_ME
pi:
  domain: CHANGE_ME
dns:
  domain: CHANGE_ME
  subdomain: CHANGE_ME
  password: CHANGE_ME
email:
  smtp_host: CHANGE_ME
  smtp_name: CHANGE_ME
  smtp_password: CHANGE_ME
